Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
requests==2.32.3
Werkzeug==3.0.3
gunicorn==22.0.0
pandas>=2.2
numpy>=1.26
websockets>=12
psycopg2-binary>=2.9  # драйвер PostgreSQL (управляемая БД RelaxDev)
